<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pubnub.ride">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_API_KEY" />

        <activity android:name=".Login" />
        <activity android:name=".Sign_Up" />
        <activity android:name=".Ride_complete_rating" />
        <activity android:name=".Ride_History" />
        <activity android:name=".Activity_list" />
        <activity android:name=".Book" />
        <activity android:name=".In_Ride" />
        <activity android:name=".Menu" />
        <activity android:name=".DriverActivity"/>
        <activity android:name=".SplashScreen">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu1"></activity>
    </application>

</manifest>